/* ===== TOP BAR (WINDOW CONTROLS) ===== */
.top-bar {
    display: flex;
    width: 100%;
    background-color: var(--sys-color-bg-primary);
    justify-content: end;
    -webkit-app-region: drag;
    gap: var(--sys-spacing-xs);
    border-bottom: 1px solid var(--sys-color-border-soft);
}

.min-button, .win-button, .exit-button {
    padding: calc(var(--ref-spacing-4) * 1.5) calc(var(--ref-spacing-4) * 3);
    border-style: none;
    color: var(--sys-color-text-primary);
    background-color: transparent;
    -webkit-app-region: no-drag;
    transition: background-color var(--anim-duration-snappy);
}


.min-img, .win-img, .exit-img {
    width: var(--ref-spacing-12);
    height: var(--ref-spacing-12);
}

.min-button:hover, .win-button:hover {
    background-color: var(--color-btn-hover-gray);
}

.exit-button:hover {
    background-color: var(--color-btn-danger);
}
