* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,rgb(2, 63, 71),rgb(0, 0, 0));
}

.top-bar{
    display: flex;
    padding: 0.3rem;
    width: 100%;
    background-color: rgb(30, 31, 30);
    justify-content: end;
    gap: 0.1rem;
    -webkit-app-region: drag;
}

.min-button{
    color: azure;
    background-color: rgb(30, 31, 30);
    -webkit-app-region: no-drag;   
}

.win-button{
    color: azure;
    background-color: rgb(30, 31, 30);
    -webkit-app-region: no-drag;   
}

.exit-button{
    color: azure;
    background-color: rgb(30, 31, 30);
    -webkit-app-region: no-drag;   
}

.nav-bar{
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 0.2rem;
    flex-direction: row;
    border-style: solid;
}